
#blockyard-author-donation,
.blockyard-cc-tabs {
	outline: none !important;
}

.blockyard-author-donation {
	background-image: linear-gradient(bottom, rgb(254,254,254) 7%, rgb(250,250,250) 60%);
	background-image: -o-linear-gradient(bottom, rgb(254,254,254) 7%, rgb(250,250,250) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(254,254,254) 7%, rgb(250,250,250) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(254,254,254) 7%, rgb(250,250,250) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(254,254,254) 7%, rgb(250,250,250) 60%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.07, rgb(254,254,254)), color-stop(0.6, rgb(250,250,250)) );
	border: #ddd solid 1px;
	border-radius: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
	min-width:150px;
	text-align:center;
}

.blockyard-classic {
	margin: 0px;
	text-align:center;
}

.blockyard-donate-widget .blockyard-classic {
	margin-bottom: 15px;
}

.blockyard-donation-encouragement {
	letter-spacing: 1px;
	margin: 15px 0px;
	text-align:center;
}

.blockyard-author-donation img {
	background:none;
	border:none;
}

.blockyard-author-donation a:hover {
	color: #036;
}

.blockyard-author-scan {
	display:inline-block;
	vertical-align:middle;
	margin: 0px 15px 0px 15px;
}

.blockyard-author-scan img {
	border: solid 1px #ddd;
}

.blockyard-author-credit a {
	box-shadow: none !important;
	color:#bbb;
	text-decoration: none !important;
}

/* NEW STYLES */

/* CryptoCurrency Styles */

.blockyard-cc-links i.cf {
	font-size: 1.8em;
}

.wp-admin .blockyard-cc-links i.cf {
	font-size: 1em;
}

.blockyard-cc-btc a,
.blockyard-cc-btc a:hover {
	color:#F08C15;
}
.blockyard-cc-btc-alt a,
.blockyard-cc-btc-alt a:hover {
	color:#4CCA47;
}
.blockyard-cc-btc-alt a i{
	transform: rotate(-45deg);
}
.blockyard-cc-eth a,
.blockyard-cc-eth a:hover {
	color:#5782A3;
}
.blockyard-cc-ltc a,
.blockyard-cc-ltc a:hover {
	color:#989898;
}
.blockyard-cc-xmr a,
.blockyard-cc-xmr a:hover {
	color:#FF6602;
}
.blockyard-cc-zec a,
.blockyard-cc-zec a:hover {
	color:#F7C652;
}

.blockyard-qr-code {
	background: #ffffff;
    border: #ddd solid 1px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.blockyard-qr-code img {
	max-width:100%;
	width:100%;
}

.wp-admin .blockyard-dqr-code img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 100%;
}

.blockyard-dwindow-detail {
	display:inline-block;
	padding:0px 20px;
	width:70%;
	vertical-align: top;
}

.wp-admin .blockyard-dwindow-detail {
	display:inline-block;
	padding:0px 20px;
	width:65%;
	vertical-align: top;
}


ul.blockyard-dcc-links {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0px 20px;
}

ul.blockyard-dcc-links li {
	display: block;
    flex: 2 1 auto;
    list-style-type: none;
    margin: 0px;
    padding: 10px 5px;
}

ul.blockyard-dcc-links li a {
    border: none;
    box-shadow: none;
    padding: 11px 16px;
    text-decoration: none;
    vertical-align: top;
}

ul.blockyard-dcc-links li a:hover,
ul.blockyard-dcc-links li a:active {
	background: #fefefe;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px 15px;
}

.blockyard-dcc-links {
	font-size: 16px;
}

input.blockyard-daddress {
 	font-size: 14px;
    margin: 15px 0px;
    padding: 8px;
    text-align: center;
    background: #ffffff !important;
    width: 100%;
}

.blockyard-ddonate-buttons {
	line-height:50px;
	padding: 0px 0px 15px;
}

.blockyard-author-donation a.blockyard-dbutton-donate {
	background: #F08C15;
    border-radius: 5px;
    box-shadow:none !important;
    color: #ffffff;
    display: inline-block;
    font-size:16px;
    font-style: italic;
    line-height: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    word-break: break-word;
}

.blockyard-author-donation a.blockyard-dbutton-donate-btc {
	background: #F08C15;
}
.blockyard-author-donation a.blockyard-dbutton-donate-btc-alt {
	background: #4CCA47;
}
.blockyard-author-donation a.blockyard-dbutton-donate-btc-alt i {
	transform: rotate(-45deg);
}
.blockyard-author-donation a.blockyard-dbutton-donate-eth {
	background: #5782A3;
}
.blockyard-author-donation a.blockyard-dbutton-donate-ltc {
	background: #989898;
}
.blockyard-author-donation a.blockyard-dbutton-donate-xmr {
	background: #FF6602;
}
.blockyard-author-donation a.blockyard-dbutton-donate-zec,
.blockyard-author-donation button.blockyard-dbutton-donate-zec {
	background: #F7C652;
	color: #333333;

	font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
}



.blockyard-dbutton-copy {
	background: #333;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    font-size: 16px;
    font-style: italic;
    padding: 0px 20px;
    line-height: 44px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: normal;
}

.blockyard-dwindow-detail-close {
	clear:both;
	display: block;
}

a.bmHide {
	border-bottom: none !important;
	box-shadow: none !important;
	color: #aaa;
	font-size: 10px;
	text-decoration: none;
    text-transform: uppercase !important;
}

a.bmHide:hover {
	color: #aaa;
	border-bottom: dashed 1px #aaa !important;
	text-decoration: none;
}

/* CSS Only Tabbed Display for Addresses & QR Codes */

.blockyard-dcc-tabs:not(:target) {
	display: none;
}

.blockyard-dcc-tabs:target {
	display: block;
}

.blockyard-dcc-tabs {
	border-top: dotted 1px #cccc;
	min-height: 200px;
}

.blockyard-dcc-tabs h3 {
	text-align:center;
	padding-top:1em;
}

.wp-admin .blockyard-dcc-tabs {
	padding-top: 2em;
}

.wp-admin .blockyard-dwindow-detail {

}

.wp-admin .blockyard-dcc-tabs h3 {

	padding: 0px;
}

.wp-admin .blockyard-dsteps li {
	margin-bottom:12px;
}

.wp-admin .blockyard-dwelcome .textinput {
    margin: 0.5em 0px;
    max-width: 100%;
    padding: 7px;
    width: 100%;
}

.wp-admin .blockyard-dwelcome .button-primary {
    max-width: 100%;
    width: 100%;
}

.wp-admin .blockyard-dprivacy {
	display: block;
    text-align: center;
}


.blockyard-dad-widget .blockyard-dqr-code,
.blockyard-dad-widget .blockyard-dwindow-detail {
	width: 100%;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
	.blockyard-dqr-code,
	.blockyard-dwindow-detail {
		width:80%;
	}

	ul.blockyard-dcc-links li {
		flex: 2 1 50%;
	}
}



